In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
hw=pd.read_csv(r"C:\Users\USER\Desktop\python\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding ="latin-1")
print("hw_shape:", hw.shape)
hw.describe()

hw_shape: (60943, 12)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [19]:
#Question1:the total number of unique countries in the dataset
hw['Area'].nunique()

49

Question2: df.iloc() is the dataframe use to access elements across rows  and columns

In [21]:
#Question3:the total number of the sum of processing in 2017
hw.groupby("Element")["Y2017"].sum()["Processing"]

292836.0

In [22]:
#Question4: Assigning element 8 to the variable x
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][1]
print(x)

8

#Question5: math is the correct one

In [49]:
#Question6:
hw['Element Code'].corr(hw["Y2014"])

hw['Element Code'].corr(hw["Y2015"])

hw['Element Code'].corr(hw["Y2016"])

hw['Element Code'].corr(hw["Y2017"])

0.02425400776004572

In [32]:
#Question7: the total number of missing data in 2014
#Total number
print(hw.isnull().sum()["Y2014"])

#the total percentage of missing data in 2014
round(hw.isnull().sum() * 100/ hw.shape[0],3)["Y2014"]

1589

2.607

In [ ]:
#Question8: Selecting elements in bold and italics
array  = ([[94, 89, 63], 
           [93, 92, 48], 
           [92, 94, 56]])
array[: 2,1 :]

In [33]:
#Question9: Area with the 7th lowest sum in 2017
hw.groupby('Area')["Y2017"].sum().sort_values(ascending=True)

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

#Question10: Set is the correct one

In [35]:
#Question11:to create a pandas dataframe
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
tr=pd.DataFrame(lst, columns=col, index=[1,2,3])
tr

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
##Question12: Code output expected
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [36]:
#Question13: Code output expected
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [ ]:
#Question14: code to check rows and columns in pandas
df.shape

In [37]:
#Question15: Year with the highest sum of stock variation
print("year2014:", hw.groupby("Element")["Y2014"].sum()["Stock Variation"])
print("year2015:", hw.groupby("Element")["Y2015"].sum()["Stock Variation"])
print("year2016:", hw.groupby("Element")["Y2016"].sum()["Stock Variation"])
print("year2017:", hw.groupby("Element")["Y2017"].sum()["Stock Variation"])

year2014: 58749.83
year2015: 34910.99
year2016: 33140.12
year2017: 54316.91

In [50]:
#Question16:  Sum of wine produced in 2015 and 2018 respectively
print("Sum of wine in 2015:", hw.groupby('Item')["Y2015"].sum()["Wine"])
print("Sum of wine in 2018:",hw.groupby('Item')["Y2018"].sum()["Wine"])

Sum of wine in 2015: 4251.81
Sum of wine in 2018: 4039.32

#Question17: A pandas dataframe with dimensions (100,3) has 3 features. 100 observations

In [51]:
#Question18: mean and std for year 2017
hw.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [52]:
#Question19: Total protein supply for Madagascar in 2015
hw_madagascar = hw[hw["Area"]=="Madagascar"]
hw_madagascar.head()
hw_madagascar.groupby("Element")["Y2015"].sum()["Protein supply quantity (g/capita/day)"]

173.05

In [54]:
#Question20: Area with the highest sum in 2017
hw.groupby("Area")["Y2017"].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64